<thf-widget
    *ngFor="let arr of arrCards"
  class="thf-lg-3 thf-md-4 thf-sm-12 thf-mb-lg-1 thf-mb-md-1 thf-mb-sm-1" t-primary-label="Excluir" t-secondary-label="Ativar">
    <img src="https://baixefacil.com.br/fotos/7b8364ea5103f329010f0e5e34c889cb.png" class="image-card">

    <div class="container-column">
      <div class="thf-font-text-bold">Nome do Leilão</div>
      <div class="thf-row container-between">
        <div class="thf-font-text">Lance fixo: 20 reais</div>
        <div class="thf-font-text">R$ 120,00</div>
      </div>
    </div>
  </thf-widget>
